# === Java / Spring Boot ===
spring.log

# === Maven ===
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# === Gradle ===
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# === IDEs ===
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.apt_generated/
.sts4-cache/
.springBeans

# VS Code
.vscode/

# === General build outputs ===
out/
bin/

# === OS / Misc ===
.DS_Store
Thumbs.db
